<form action="" class="com-mware-usernameonly">
    <p class="text-error">{{#if errorMessage}}{{errorMessage}}{{/if}}</p>
    <h1 class="title">Sign in</h1>

    <div class="input-group">
        <span class="input-group-addon">@</span>
        <input id="username" type="text" class="form-control" placeholder="Username" autocomplete="off" autofocus
               spellcheck="false">
    </div>

    <label class="custom-control custom-checkbox m-t-2" for="remember-me">
        <input type="checkbox" id="remember-me" class="custom-control-input">
        <span class="custom-control-indicator"></span>
        Remember me
    </label>

    <div class="form-group p-t-2 text-center">
        <button class="btn btn-info">Log In</button>
    </div>
</form>
